<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Listado de Libros</title>
    <link rel="stylesheet" type="text/css" href="/stylesFormListado.css">
</head>

<body>
    <h1>Lista De libros</h1>

    <table class="styled-table">

        <thead>
        <tr>
            <th>ID</th>
            <th>Titulo</th>
            <th>Autor</th>
            <th>Genero</th>
            <th>Año</th>
            <th>Estado</th>
            <th>Accion</th>
        </tr>
        </thead>

        <tbody>
            <thead>
            <tr th:each=" libro : ${listLibros}"> <!-- valor clave al reves del controler -->
                <td th:text="${libro.id}"></td>
                <td th:text="${libro.titulo}"></td>
                <td th:text="${libro.autor}"></td>
                <td th:text="${libro.genero}"></td>
                <td th:text="${libro.year}"></td>
                <td>
                    <span th:if="${libro.estado_lib}" style="color: green;">Disponible </span>
                    <span th:unless="${libro.estado_lib}" style="color: #e61b1b;">No Disponible</span>
                </td>
                <td>

                    <a th:href="@{/libreria/editarinfo/{id}(id=${libro.id})}">Edit</a>


                    <a th:href="@{/libreria/eliminar/{id}(id=${libro.id})}" class="eliminar">Eliminar</a>
                </td>

            </tr>
        </tbody>
    </table>
    <div class="enlace">
        <!-- Reemplazo del enlace por un botón -->
        <form action="/libreria/nuevolibro" method="get">
            <button type="submit" class="boton">Nuevo Libro</button>
        </form>

    </div>
</body>
</html>